*{
    font-family: "Black Ops One", cursive;
}
#one-liner {
  font-size: 34px;
  font-family: "Black Ops One", cursive;
  color: rgb(180, 25, 25);
  text-align: center;
}
.container1 {
  height: 148px;
  width: 100%;
  margin: 101px auto;
  text-align: center;
}
.btn {
  background: rgb(180, 25, 25);
  padding: 10px 18px;
  position: absolute;
  color: white;
  font-size: 30px;
  font-family: "Black Ops One", cursive;
  border-radius: 16px;
  border-style: double;
  font-style: italic;
}
.btn:hover {
  border-color: white;
}
#btn-extra-large {
  padding: 30px 60px;
  position: relative;
  margin: auto;
  align-items: center;
}
#btn-normal {
  padding: 10px 12px;
  position: relative;
  margin: auto;
  align-items: center;
}
.container2 {
  margin: 50px auto;
  text-align: center;
}
.container2 img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 10px auto;
}
.text-big {
  margin-left: 36px;
  font-family: "Black Ops One", cursive;
  color: rgb(180, 25, 25);
  font-weight: 770;
}
input[type="text"] {
  width: 200px;
  padding: 12px 20px;
  margin: 8px auto;
  box-sizing: border-box;
  font-family: "Black Ops One", cursive;
  border: 2px solid rgb(180, 25, 25);
}
.container2 {
  display: none;
}
.container3 {
  display: none;
}
.correct-text {
    font-size: 34px;
    color: rgb(180, 25, 25);
    text-align: center;
}
.wrong-text {
    font-size: 34px;
    color: rgb(180, 25, 25);
    text-align: center;
}