*{
    font-family: 'Kirang Haerang', cursive;
}
#one-liner {
  font-size: 34px;
  font-family: "Black Ops One", cursive;
  color: rgb(230, 145, 238);
  text-align: center;
}
.container1 {
  height: 148px;
  width: 100%;
  margin: 101px auto;
  text-align: center;
}
.btn {
  background: rgb(230, 145, 238);
  padding: 10px 18px;
  position: absolute;
  color: white;
  font-size: 30px;
  font-family: "Black Ops One", cursive;
  border-radius: 16px;
  border-style: double;
  font-style: italic;
}
.btn:hover {
  border-color: white;
}
#btn-extra-large {
  padding: 30px 60px;
  position: relative;
  margin: auto;
  align-items: center;
}
#btn-normal {
  padding: 10px 21px;
  position: relative;
  margin: auto;
  align-items: center;
}
#btn-playagain {
  padding: 10px 7px;
  position: relative;
  margin: auto;
  align-items: center;
}
.scoreDiv {
  display: flex;
}
.score {
  font-size: 50px;
  flex: 1;
  margin-left: 23%;
  width: 20%;
}
.highscore {
  font-size: 50px;
  margin-right: 28%;
  width: 20%;
}
#section_Zero {
  color: rgb(230, 145, 238);
  text-align: center;
}
.container2 {
  margin: 50px auto;
  text-align: center;
}
.container4 {
  /* height: 50%;
  width: 50%; */
  margin: 50px auto;
  text-align: center;
}
.container2 img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 10px auto;
}
.text-big {
  margin-left: 36px;
  font-family: "Black Ops One", cursive;
  color: rgb(230, 145, 238);
  font-weight: 770;
}
.small-text {
  font-family: "Black Ops One", cursive;
  color: rgb(230, 145, 238);
  font-weight: 770;
  font-size: 2.5rem;
}
input[type="number"] {
  width: 200px;
  padding: 12px 20px;
  margin: 8px auto;
  box-sizing: border-box;
  font-family: "Black Ops One", cursive;
  border: 2px solid rgb(230, 145, 238);
}
.container2 {
  display: none;
}
.container3 {
  display: none;
}
.container4 {
  display: none;
}
#section_Zero {
  display: none;
}
.container4 img {
  /* height: 400px;
  width: 400px; */
  width: 92%;
}
.correct-text {
    font-size: 34px;
    color: rgb(230, 145, 238);
    text-align: center;
}
.wrong-text {
    font-size: 34px;
    color: rgb(230, 145, 238);
    text-align: center;
}
@media(max-width:1200px) {
  #one-liner {
    font-size: 17px;
  }
  .scoreDiv {
    display: block;
    text-align: center;
    margin: 8px 0%;
  }
  .score {
    font-size: 33px;
    float: none;
    margin-left: 23%;
    padding: 0.2% 0.1%;
  }
  .highscore {
    float: none;
    font-size: 33px;
    padding: 0px 2px;
    margin-right: 0;
    margin-left: 20%;
  }
  .container2 img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 5px auto;
  }
  .container2 {
    margin: 10px auto;
    text-align: center;
  }
}
